html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 50px 0;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9ecef;
}

/*  Nav section */

#nav-container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

#color-picker-container,
#modes-container,
#selection-btn-container {
  height: 100%;
  display: flex;
  align-items: center;
}

#color-picker,
#modes {
  margin: 0 50px 0 12px;
}

#color-picker,
#modes,
#selection-btn {
  height: 52px;
  border: 2px solid #efd3d7;
  background-color: #fff;
  box-shadow: 3px 3px 7px 6px #b2b2b2;
}

#modes,
#selection-btn {
  width: 160px;
  font-weight: 700;
}

#color-picker {
  width: 60px;
}

#modes {
  text-align: center;
  width: 200px;
}

#selection-btn {
  border: 1.5px solid #d90429;
}

/* Color section  */

#section-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 700px;
  width: 70%;
  box-shadow: 7px 5px 7px 6px #b2b2b2;
}

.color-column {
  width: 14%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.text-column {
  height: 50px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.color-one {
  background-color: #f2cc8f;
}

.color-two {
  background-color: #e07a5f;
}

.color-three {
  background-color: #3d405b;
}

.color-four {
  background-color: #81b29a;
}

.color-five {
  background-color: #283618;
}

/*  media queries  */

@media (max-width: 420px) {
  #nav-container,
  #color-picker-container,
  #modes-container {
    display: flex;
    flex-direction: column;
  }
}
